body {
  font-size: 12px !important;
  font-family: "Satisfy", cursive;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

#cargando {
  display: none;
}

#mi_header,
.card-header {
  /* style="background-color: #F3E2F5" */
  background-color: #f3e2f5;
}

#main .carousel-inner img {
  max-height: 70vh;
  object-fit: cover;
  /* object-fit: fill; */
  /* object-fit: none; */
  /* filter: grayscale(10%); */
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: rgb(0, 0, 0, 0.1); */
  color: #fff;
  /* color: rgb(var(--color_15)); */
  /* color: rgb(12,76,148); */
  /* color: papayawhip; */
  /* background-color: #ffe44a; */
  font-size: 30px;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

#main .carousel-inner img {
  max-height: 70vh;
  object-fit: cover;
}

h4 {
  color: #6c757d !important;
  /* color: #000 !important; */
}

#title_princ {
  color: #f5a8eb;
}

.lead {
  /* style="color: #6c757d;" */
  color: #6c757d;
}

.lead_1 {
  /* style="color: #6c757d;" */
  color: #6c757d;
  font-size: 24px;
  color: #f5a8d1;
  /* color: #6c757d; */
}

#txt_logo {
  color: #f5a8eb;
  font-weight: bold;
}

#footer {
  padding-top: 14px;
  font-size: 17px;
  color: #f5a8eb;
}
#footer a {
  color: #f5a8eb;
}

/* #footer .container {
  height: 40px;
} */

@media (max-width: 992px) {
  .overlay {
    display: none;
  }
}
